body {
  background-color: bisque;
  background-image: url("../images/orangeQuestionMarks.png");
  color: black;
  border-width: 1px;
  /* border: solid; */
  padding-left: 1%;
  padding-right: 1%;
}

#title {
  text-align: center;
  font-size: 400%;
  /* border-width: 1px;
  border-style: solid; */
  font-weight: 400;
  margin: auto;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Monoton', cursive;
}

#directions {
  text-align: justify;
  font-size: auto;
  font-family: 'Audiowide', cursive;
  /* border-width: 1px;
  border-style: solid; */
  margin: auto;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#logIn {
  text-align: center;
  /* border-width: 1px;
  border-style: solid; */
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#logInTitle {
  text-align: center;
  font-size: 400%;
  /* border-width: 1px;
  border-style: solid; */
  font-weight: 400;
  margin: auto;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Monoton', cursive;
}

#email-login {
  /* border-width: 1px;
  border-style: solid; */
  margin-top: 1%;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

#password-login {
  /* border-width: 1px;
  border-style: solid; */
  margin-top: 1%;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

#loginBTN {
  text-align: center;
  /* border-width: 1px;
  border-style: solid; */
  font-weight: 400;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#signUpTitle {
  text-align: center;
  font-size: 400%;
  /* border-width: 1px;
  border-style: solid; */
  font-weight: 400;
  margin: auto;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Monoton', cursive;
}

#email-signUp {
  /* border-width: 1px;
  border-style: solid; */
  margin-top: 1%;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

#password-signUp {
  /* border-width: 1px;
  border-style: solid; */
  margin-top: 1%;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

#signUpBTN {
  text-align: center;
  /* border-width: 1px;
  border-style: solid; */
  font-weight: 400;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

header {
  padding: 0;
  margin: 0;
  padding-bottom: 0;
}

/* text/image relationship image1*/
.image-1 {
    position: absolute;
    top: 106px;
}

/* text/image relationship image2 */
.image-2 {
    position: absolute;
    top: 106px;
    left: 400px;
}

/* text/image relationship image3 */
.image-3 {
    position: absolute;
    left: 20px;
    top: 360px;
}

/* text/image relationship image4 */
.image-4 {
    position: absolute;
    top: 360px;
    left: 400px;
}

/* text "button" for first item */
.image-1-text {
    background-color: black;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* text "button" for second item */
.image-2-text {
    background-color: black;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* text "button" for third item */
.image-3-text {
    background-color: black;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

/* text "button" for fourth item */
.image-4-text {
    background-color: black;
    color: lightgray;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
}

#questions {
  border: solid;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}

#nav {
  font-size: 150%;
  font-family: 'Audiowide', cursive;
}