body {
  background-color: bisque;
  background-image: url("../images/orangeQuestionMarks.png");
  color: black;
  border-width: 1px;
  border: solid;
  padding-left: 1%;
  padding-right: 1%;
}

#title {
  text-align: center;
  font-size: 400%;
  border-width: 1px;
  border-style: solid;
  font-weight: 400;
  margin: auto;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Monoton', cursive;
}

#directions {
  text-align: justify;
  font-size: auto;
  font-family: 'Audiowide', cursive;
  border-width: 1px;
  border-style: solid;
  margin: auto;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#questions {
  text-align: justify;
  font-size: auto;
  font-family: 'Audiowide', cursive;
  border-width: 1px;
  border-style: solid;
  margin: auto;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#answers {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#quiz1 {
  font-size: auto;
  font-family: 'Orbitron', sans-serif;
  border-width: 1px;
  border-style: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: 1%;
}

#quiz1Topic {
  font-size: 200%;
  border-width: 1px;
  border-style: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 0%;
  margin-left: 1%;
  margin-right: 1%;
}

#quiz1Pic {
  border-width: 1px;
  border-style: solid;
  margin-left: 1%;
}

#quiz1Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#quiz2 {
  text-align: justify;
  font-size: auto;
  font-family: 'Orbitron', sans-serif;
  border-width: 1px;
  border-style: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#quiz2Topic {
  font-size: 200%;
  border-width: 1px;
  border-style: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 0%;
  margin-left: 1%;
  margin-right: 1%;
}

#quiz2Pic {
  border-width: 1px;
  border-style: solid;
  margin-left: 1%;
}

#quiz2Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#quiz3 {
  text-align: justify;
  font-size: auto;
  font-family: 'Orbitron', sans-serif;
  border-width: 1px;
  border-style: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#quiz3Topic {
  font-size: 200%;
  border-width: 1px;
  border-style: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 0%;
  margin-left: 1%;
  margin-right: 1%;
}

#quiz3Pic {
  border-width: 1px;
  border-style: solid;
  margin-left: 1%;
}

#quiz3Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#quiz4 {
  text-align: justify;
  font-size: auto;
  font-family: 'Orbitron', sans-serif;
  border-width: 1px;
  border-style: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#quiz4Topic {
  font-size: 200%;
  border-width: 1px;
  border-style: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 0%;
  margin-left: 1%;
  margin-right: 1%;
}

#quiz4Pic {
  border-width: 1px;
  border-style: solid;
  margin-left: 1%;
}

#quiz4Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#quiz5 {
  text-align: justify;
  font-size: auto;
  font-family: 'Orbitron', sans-serif;
  border-width: 1px;
  border-style: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#quiz5Topic {
  font-size: 200%;
  border-width: 1px;
  border-style: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 0%;
  margin-left: 1%;
  margin-right: 1%;
}

#quiz5Pic {
  border-width: 1px;
  border-style: solid;
  margin-left: 1%;
}

#quiz5Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 1%;
}
  #quiz1 {
    display: inline-block;
  }
  #quiz2 {
      display: inline-block;
    }
  #quiz3 {
      display: inline-block;
    }
  #quiz4 {
      display: inline-block;
    }
  #quiz5 {
      display: inline-block;
    }

#logIn {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#logInTitle {
  text-align: center;
  font-size: 400%;
  border-width: 1px;
  border-style: solid;
  font-weight: 400;
  margin: auto;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Monoton', cursive;
}

#email-login {
  border-width: 1px;
  border-style: solid;
  margin-top: 1%;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

#password-login {
  border-width: 1px;
  border-style: solid;
  margin-top: 1%;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

#loginBTN {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  font-weight: 400;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

/* #navbar {
  font-size: 200%; */
  /* unvisited link */
a:link {
  color: red;
};

/* visited link */
a:visited {
  color: green;
};

/* mouse over link */
a:hover {
  color: hotpink;
};

/* selected link */
a:active {
  color: blue;
}
/* }; */

.navbar-inner {
  background:transparent;
}